
@{
    ViewBag.Title = "GetTickets";
    Layout = "~/Views/Shared/_LayoutReg.cshtml";
}
@using SYticket.Models;

    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th style="width: 233px;">From</th>
                        <th style="width: 233px;">To</th>
                        <th style="width: 233px;">Starts</th>
                        <th style="width: 233px;">Ends</th>
                        <th style="width: 233px;">Seat Number</th>
                        <th style="width: 233px;">Price</th>
                        <th style="width: 233px;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (reservation r in ViewBag.r)
                    {
                    <tr>
                        <td>@r.Travel.from_city</td>
                        <td>@r.Travel.to_city</td>
                        <td>@r.Travel.startsAt</td>
                        <td>@r.Travel.endsAt</td>
                        <td>@r.seatNumber</td>
                        <td>@r.Travel.price</td>
                        <td><a type="button" href="/Reservation/DeleteTicket/@r.reserv_ID" class="btn btn-danger">delete</a></td>
                    </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>From</strong></td>
                        <td><strong>To</strong></td>
                        <td><strong>Starts</strong></td>
                        <td><strong>Ends</strong></td>
                        <td><strong>Seat Number</strong></td>
                        <td><strong>Price</strong></td>
                        <td><strong>Delete</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>